*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #650bd1, #739e74);
    text-align: center;
    margin: 0rem;
}
.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 14vmin;
    width: 14vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    color: rgb(154, 61, 75);
    background-color: thistle;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;

}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-right: 3rem;
}
h1{
    margin-top: 0.7rem;
}
#msg{
    color: wheat;
    font-size: 5vmin;
}
.msg-container{
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hide{
    display: none;
}